---
title: 'Archives des menus.'
layout: default
comments: true
---
.container
  h2 {{document.title}}
  ul
    {{#each (getCollection 'menus')}}
    li
      a(href="{{url}}") {{title}}
    {{/each}}