---
title: 'Archives du blog de la commission restauration'
layout: default
comments: true
---
.container
  h2 {{document.title}}
  ul
    {{#each (getCollection 'posts')}}
    li
      a(href="{{url}}") {{title}}
    {{/each}}