# Created by http://gitignore.io

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### docpad ###
.docpad.db
/out/

### bower ###
/bower_components
/src/files/vendor
=======
node_modules/
out/

### ignore docpad plugins
plugins/schoolmenu
plugins/handlebarshelpers

### ignore menu repo
src/documents/restauration/menus
src/raw/vendor

.env
