---
layout: 'default'
---
.menu.container.restauration
  | {{{content}}}
  hr
  small
    | Pour toute question, nous contacter 
    a(href='mailto:{{{emailAddresses.restauration}}}') {{{emailAddresses.restauration}}}

    

