---
layout: 'restauration/menu'
comments: true
styles: ['/css/restauration.css']
title: "Menu 2/12/2013"
navigation: true
navigationOrder: 4
---
{
  titre: "Menu de la semaine du 2 au 6 décembre 2013"
  Lundi:
    plats: [
      "Raviolis au gruyère"
      "Selle d'agneau aux champignons des bois"
      "Filet de flétan sauce basilic"
    ]
    legumes: [
      "Blé au jus"
      "Epinards à la crème"
    ]
  Mardi:
    plats: [
      "Couscous poulet-merguez maison"
    ]
    legumes: [
      "Semoule de couscous"
      "Haricots verts persillés"
    ]
  Mercredi:
    plats: [
      "Lasagne bolognaise"
      "Dos de cabillaud sauce à l'estragon"
    ]
    legumes: [
      "Riz basmati"
      "Endives braisées"
    ]
  Jeudi:
    plats: [
      "Omelette à la forestière"
      "Rôti de dinde au jus"
    ]
    legumes: [
      "Pommes vapeur persillées"
      "Carottes à la crème"
    ]
  Vendredi:
    plats: [
      "Spaghettis à la carbonara"
      "Filet de lieu à l'anethoise"
    ]
    legumes: [
      "Spaghettis"
      "Gratin de choux fleurs"
    ]
  remarques: "bon appétit"
}
