---
layout: 'default'
---
.menu.container.restauration
  | {{{content}}}
  .hidden-print
    hr
    small
      | Pour toute question, nous contacter&nbsp;
      a(href='mailto:{{{emailAddresses.restauration}}}') {{{emailAddresses.restauration}}}
