h2 {{prepareMenuLongWithTagsTitle menu}}
{{#with menu}}
{{#each days}}
h3 {{capitalize (formatDate this.date fmt='dddd')}}
{{#each coursesByType}}
{{map type 'label' entree='entrées' plat='plats' legume='légumes' dessert='desserts'}}
h4 {{label}}
  ul
    {{#each courses}}
    li {{description}}
    {{/each}}
{{/each}}
{{/each}}
{{/with}}
