{{#if document.comments}}
.container
  .panel.panel-default.hidden-print
    .panel-body
      #disqus_thread
      script(type='text/javascript').
        var disqus_shortname = '{{site.disqus.shortname}}'; var disqus_identifier = '{{document.url}}';
        var disqus_title = '{{document.title}}'; var disqus_url = '{{document.url}}'; (function() { var dsq = document.createElement('script');
        dsq.type = 'text/javascript'; dsq.async = true; dsq.src = '//' + disqus_shortname
        + '.disqus.com/embed.js'; (document.getElementsByTagName('head')[0] ||
        document.getElementsByTagName('body')[0]).appendChild(dsq); })();
      noscript
        | Please enable JavaScript to view the &amp;amp;lt;a href="http://disqus.com/?ref_noscript"&amp;amp;gt;comments
        | powered by Disqus.&amp;amp;lt;/a&amp;amp;gt;
      a.dsq-brlink(href='http://disqus.com')
        | comments powered by
        span.logo-disqus Disqus
{{/if}}
