.menu.container.restauration
  //-script(src="/vendor/jquery/js/jquery.min.js")}}
  //-script(src="/vendor/date.format/js/date.format.js")
  //-script(src="/js/restauration.js")
  //-titre
  h2.text-center
    span.hidden-print
      span.hidden-xs.hidden-sm
        | {{prepareMenuLongTitle menu}}&nbsp;
        .small {{prepareSchoolLevelsSimple menu}}
      span.visible-xs.visible-sm
        | {{prepareMenuShortTitle menu}}&nbsp;
        .small {{prepareSchoolLevelsSimple menu}}
    span.visible-print
      | {{prepareMenuLongWithTagsTitle menu}}
  //-loop on days
  {{#with menu}}
  {{#each days}}
  //-title
  h3(id="{{formatDate this.date fmt='YYYY-MM-DD'}}",name="{{formatDate this.date fmt='YYYY-MM-DD'}}")
    span.glyphicon.glyphicon-calendar
    | &nbsp;{{capitalize (formatDate this.date fmt='dddd')}}
  //-details
  .row
    //-loop on courses types
    {{#each coursesByType}}
    .col-sm-6.col-lg-3.hidden-print
      {{map type 'label' entree='entrées' plat='plats' legume='légumes' dessert='desserts'}}
      {{map type 'icon' plat='cutlery' legume='leaf' default='pushpin'}}
      {{map type 'dataIcon' entree='j' plat='u' legume='m' dessert='K' fromage='7' default='u'}}
      h4 {{label}}
      ul.list-unstyled
        {{#each courses}}
        {{map type 'icon' plat='cutlery' legume='leaf' default='pushpin'}}
        {{map type 'dataIcon' entree='j' plat='u' legume='m' dessert='K' fromage='7' default='u'}}
        li.course-details
          span(data-icon="{{dataIcon}}", class="pull-left icon cantine-icon-{{type}}")
          {{description}}
        {{/each}}
    .col-xs-3.visible-print
      {{map type 'label' entree='entrées' plat='plats' legume='légumes' dessert='desserts'}}
      h4 {{label}}
      ul.list-unstyled
        {{#each courses}}
        {{map type 'icon' plat='cutlery' legume='leaf' default='pushpin'}}
        li
          span(class="pull-left glyphicon glyphicon-{{icon}}")
          {{description}}
        {{/each}}
    {{/each}}
  {{/each}}
  {{#if comments}}
  .panel.panel-default
    .panel-body
      {{#each comments}}
      p {{this}}
      {{/each}}
  {{/if}}
  {{/with}}
  .hidden-print
    hr
    small
      | Pour toute question, nous contacter&nbsp;
      a(href='mailto:{{{emailAddresses.restauration}}}') {{{emailAddresses.restauration}}}
