.navbar.navbar-inverse.navbar-fixed-top.hidden-print
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/index.html') {{site.projectName}}
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        | {{#eachCollection 'navigationPages'}}
        li(class='{{isCurrentPage id}}')
          a(href='{{url}}') {{title}}
        | {{/eachCollection}}
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Dropdown
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider
            li.dropdown-header Nav header
            li
              a(href='#') Separated link
            li
              a(href='#') One more separated link
      form.navbar-form.navbar-right
        .form-group
          input.form-control(type='text', placeholder='Email')
        .form-group
          input.form-control(type='password', placeholder='Password')
        button.btn.btn-success(type='submit') Sign in
