.navbar.navbar-inverse.navbar-fixed-top.hidden-print
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/index.html') {{site.projectName}}
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        {{#eachCollection 'navigationPages'}}
        li(class='{{isCurrentPage id}}')
          a(href='{{url}}') {{navigationTitle}}
        {{/eachCollection}}
        //-li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Menus
            b.caret
          ul.dropdown-menu
            {s{#eachCollection 'menus'}}
            li(class='{s{isCurrentPage id}}')
              a(href='{s{url}}') {s{url}}
            {s{/eachCollection}}
            li.divider
            li.dropdown-header Personnel authorisé uniquement
            li
              a(href='/restauration/editeur-menu.html') Ajouter un menu
      form.navbar-form.navbar-right.hidden-xs.hidden-sm(action='{{site.mailchimp.correspondantsRestauration.action}}', method='post', target='_blank', novalidate='')
        .form-group
          input.form-control#mailchimp-email(type='email', value='', name='EMAIL', placeholder='adresse email', required='')
          //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
          span(style='position: absolute; left: -5000px;')
            input.form-control(type='text', name='{{site.mailchimp.correspondantsRestauration.stopBotCode}}', value='')
        button.btn.btn-success(type='submit' name='subscribe') S'abonner
