.navbar.navbar-inverse.navbar-fixed-top.hidden-print(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/index.html') {{site.projectName}}
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        {{#eachCollection 'navigationPages'}}
        li(class='{{isCurrentPage id}}')
          a(href='{{url}}') {{navigationTitle}}
        {{/eachCollection}}
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Archives
            b.caret
          ul.dropdown-menu
            li
              a(href='/restauration/archive-blog.html') Blog
            li
              a(href='/restauration/archive-menu.html') Menus
      a.navbar-btn.navbar-right.btn.btn-success(role='button',href='/restauration/inscription.html') S'abonner
