.navbar.navbar-inverse.navbar-fixed-top.hidden-print
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/index.html') {{site.projectName}}
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        {{#eachCollection 'navigationPages'}}
        li(class='{{isCurrentPage id}}')
          a(href='{{url}}') {{navigationTitle}}
        {{/eachCollection}}
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Menus
            b.caret
          ul.dropdown-menu
            {{#eachCollection 'menuPages'}}
            li(class='{{isCurrentPage id}}')
              a(href='{{url}}') {{navigationTitle}}
            {{/eachCollection}}
            li.divider
            li.dropdown-header Personnel authorisé uniquement
            li
              a(href='/restauration/editeur-menu.html') Ajouter un menu
      form.navbar-form.navbar-right.hidden-xs.hidden-sm
        .form-group
          input.form-control(type='text', placeholder='Addresse email')
        button.btn.btn-success(type='submit') S'abonner
