.container
  .hidden
    #menu-for-today-notfound
      .jumbotron
        h1 {{document.title}}
        h2 Le menu de cette semaine ne nous à pas été communiqué.
        p
          | Vous pouvez consulter les&nbsp;
          a.btn.btn-primary.btn-lg(href = '/restauration/archives/menu.html#{{schoolLevel}}') archives»
  #menu-for-today
    h2 Veuillez patienter...
    p
      | Vous pouvez consulter les&nbsp;
      a.btn.btn-default.btn-sm(href = '/restauration/archives/menu.html#{{schoolLevel}}') archives»



