---
layout: 'default'
title: 'Archives des menus'
navigation: true
navigationTitle: 'Archives'
navigationOrder: 4
comments: false
---
.jumbotron
  .container
    h1 {{document.title}}
    p
      | Vous trouverez la liste de l'ensemble des menus.
.container
  .alert.alert-warning.alert-dismissable
    button.close(type="button" data-dismiss="alert" aria-hidden="true")
      | &times;
    strong Attention!
    |  Les menus des semaines à venirs sont à titre indicatif
  ul
    {S{#each (groupMenuForArchive 'menus')}}
    {S{debug}}
    {S{/each}}

    {S{#eachCollection 'menus'}}
    li
      a(href='{S{../url}}') {S{longTitle}} {S{../url}} {S{../layout}}
    {S{/eachCollection}}
