---
sitemap: false
---
!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Page Introuvable :(
    link(rel='stylesheet', href='/css/404.css')
    link(rel="shortcut icon",href="/images/favicons/favicon.ico")
    link(rel="icon",type="image/png",sizes="64x64",href="/images/favicons/favicon.png")
  body
    .container
      h1
        | Erreur de liens
        span :(
      p Désolé, mais la page que vous tentez de voir n'existe pas.
      p Les raisons probables sont:
      ul
        li Une erreur dans la saisie de l'URL
        li Un vieux lien inexistant
        li Un lien cassé suite à une manipulation d'Olivier :)


