---
layout: 'default'
title: 'Menu de cette semaine'
comments: false
---
.jumbotron
  .container
    h1 {{document.title}}
      .small Site de tests
    p.
      Bonjour et bienvenu sur le nouveau site de l'Apel avec le détails des menus de la catine du groupe scolaire Sophie Barat.
      Merci de nous laisser un commentaire en bas de page si vous avez des remarques.
    p
      a.btn.btn-primary.btn-lg(href='#today') Menu d'Aujourd'hui »

.container
  #today
    h2 Le menu de cette semaine ne nous à pas été communiqué.
    p
      | Vous pouvez consulter les&nbsp;
      a.btn.btn-default.btn-sm(href='/archives.html') archives»