---
layout: 'default'
title: 'Site de la commission restauration'
comments: true
---
.jumbotron
  .container
    h1 {{document.title}}
      .small Apel Sophie Barat
    p
      | Bonjour et bienvenu sur le nouveau site de l'Apel avec le détails des menus de la cantine du groupe scolaire Sophie Barat.
      | Vous trouverez également les dernières nouvelles sur notre&nbsp;
      a.btn.btn-primary.btn-sm(href='/restauration/blog.html') Blog
.container
  p.
    Menu de cette semaine :
  ul
    li
      a(href='/restauration/today/primaire.html') en primaire »
    li
      a(href='/restauration/today/college.html') au collège »
    li
      a(href='/restauration/today/lycee.html') au lycée »
  p.
    Merci de nous laisser un commentaire en bas des pages si vous avez des remarques.
