---
layout: default
referencesOthers: true
standalone: false
sitemap: false
---
.container
  h1 Status
  .well
    dl.dl-horizontal
      dt Site version
      dd {{status.version}}
      dt Start date
      dd {{status.date}}
      dt Environment
      dd {{status.environment}}      
      {{#if status.hostname}}
      dt Hostname
      dd {{status.hostname}}
      {{/if}}
      dt Last rendering
      dd {{status.renderingDate}}      
      {{#if status.lastPostDate}}
      dt Last blog post
      dd {{status.lastPostDate}}
      {{/if}}      
      {{#if status.lastMenuDate}}
      dt Last blog post
      dd {{status.lastMenuDate}}
      {{/if}}
