---
layout: 'menus'
---
//-script(src="/vendor/jquery/js/jquery.min.js")}}
//-script(src="/vendor/date.format/js/date.format.js")
//-script(src="/js/restauration.js")
//-titre
h2.text-center
  span.hidden-print
    span.hidden-xs.hidden-sm
      | {{prepareTitle}}&nbsp;
      span.small {{tagsForTitle}}
    span.visible-xs.visible-sm
      | {{prepareShortTitle}}&nbsp;
      span.small {{tagsForTitle}}
  span.visible-print
    | {{prepareLongTitle}}
{{#with menu}}
//-loop on days
{{#each days}}
//-title
h3(id="{{formatMoment this.date fmt='YYYY-MM-DD'}}")
  span.glyphicon.glyphicon-calendar
  |&nbsp;{{capitalize name}}
  {{#if today}}
  span.badge.pull-right
    | Aujourd'hui
  {{/if}}
//-details
.row
  //-loop on courses types
  {{#each coursesGroupedByType}}
  .col-sm-6.col-lg-3.hidden-print
    {{map type 'label' entree='entrées' plat='plats' legume='légumes' dessert='desserts'}}
    {{map type 'icon' plat='cutlery' legume='leaf' default='pushpin'}}
    {{map type 'dataIcon' entree='j' plat='u' legume='m' dessert='K' fromage='7' default='u'}}
    h4
      //-span(data-icon="{{dataIcon}}", class="pull-left icon cantine-icon-{{type}}")
      |&nbsp;{{label}}
    ul.list-unstyled
      {{#each courses}}
      {{map type 'icon' plat='cutlery' legume='leaf' default='pushpin'}}
      {{map type 'dataIcon' entree='j' plat='u' legume='m' dessert='K' fromage='7' default='u'}}
      li.course-details
        //-span(class="pull-left glyphicon glyphicon-arrow-right")
        span(data-icon="{{dataIcon}}", class="pull-left icon cantine-icon-{{type}}")
        |&nbsp;{{description}}
      //--li
        //--//-span(class="pull-left glyphicon glyphicon-arrow-right")
        //--//-span(class="pull-left glyphicon glyphicon-{{icon}}")
        //--|&nbsp;{{description}}
      //--li
        //--//-span(class="pull-left glyphicon glyphicon-arrow-right")
        //--//-span(data-icon="{{dataIcon}}", class="pull-left glyphicon cantine-icon-{{type}}")
        //--|&nbsp;{{description}}
      {{/each}}
  .col-xs-3.visible-print
    {{map type 'label' entree='entrées' plat='plats' legume='légumes' dessert='desserts'}}
    h4 {{label}}
    ul.list-unstyled
      {{#each courses}}
      {{map type 'icon' plat='cutlery' legume='leaf' default='pushpin'}}
      li
        span(class="pull-left glyphicon glyphicon-{{icon}}")
        {{description}}
      {{/each}}
  {{/each}}
{{/each}}
{{#if comments}}
.panel.panel-default
  .panel-body
    {{#each comments}}
    p {{this}}
    {{/each}}
{{/if}}
{{/with}}